<div class="runiq-editor" style="width: 100%; height: 100%;">
    <div class="runiq-panels-area" style="width: 100%; height: 100%;">
        <div class="runiq-display-area" style="width: 100%; height: 80%;">
            <div class="runiq-code-panel" style="float: left; height: 100%; width: 70%;">
                <div class="runiq-code-mount" style="width: 100%; height: 100%; overflow: scroll;"></div>
            </div>
            <div class="runiq-view-panel" style="float: left; height: 100%; width: 30%;">
                <div class="runiq-demo-panel" style="height: 100%; width: 100%;">
                    <div class="runiq-demo-mount" style="width: 100%; height: 100%; overflow: scroll;"></div>
                </div>
            </div>
        </div>
        <div class="runiq-data-area" style="width: 100%; height: 20%;">
            <div class="runiq-console-panel" style="float: left; height: 100%; width: 40%;">
                <div class="runiq-console-mount console" style="width: 100%; height: 100%; overflow: scroll;"></div>
            </div>
            <div class="runiq-ast-panel" style="float: left; height: 100%; width: 30%;">
                <div class="runiq-ast-mount console" style="width: 100%; height: 100%; overflow: scroll;"></div>
            </div>
            <div class="runiq-state-panel" style="float: left; height: 100%; width: 30%;">
                <div class="runiq-state-mount console" style="width: 100%; height: 100%; overflow: scroll;"></div>
            </div>
        </div>
    </div>
    <div class="runiq-overlay" style="display: none;">
        <div class="runiq-overlay-content">
            <div class="runiq-overlay-mount"></div>
        </div>
    </div>
</div>
